:host {width:100%;}
.controls {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls button {border-radius: 100%; margin-right: 2rem;}
.date {  transition: all 1s ease-out;}
.wintypes {border-radius: 20px; padding: 1rem; margin:0.5rem; margin-right: -15px;margin-left: -15px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
}

.amount_max_width
{
    max-width:50%;
}
.btn_font_size {
  font-size: 1.5rem;
  line-height: 2 !important;
}

mat-button-toggle-group {
  width: 50%;
}

mat-button-toggle {
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

mat-button-toggle:hover {
    background-color: #FFF !important;
    color:black;
}

.mat-button-toggle-checked {
	 
    background-color: orange !important;
    color:white;
    width:100px;
}



